<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TRAMPA </title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/icon.png" type="image/png">
</head>
<body>
    <!-- header -->
    <header>
        <div>
            <h1>TRAMPA</h1>
            <p>Indumentaria</p>
        </div>
    </header>
    <!-- navbar -->
    <nav class="navbar">
        <a href="../../index.html">Inicio</a>
        <a href="../views/catalogocompleto.html">Catálogo Completo</a>
        <a href="../views/ropitainformal.html">Ropita Informal</a>
        <a href="../views/ropitaparasalir.html">Ropita para Salir</a>
        <a href="form.html">Registrarse</a>
    </nav>
    <!-- formulario -->
    <form action="">
        <fieldset>
            <legend>Formulario de Registro</legend>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" required>
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido" required>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <label for="pass">Contraseña</label>
            <input type="password" name="pass" id="pass" required>
            <label for="fecha">Fecha de Nacimiento</label>
            <input type="date" name="fecha" id="fecha">
            <input type="submit" value="Registrarse">
            <input type="reset" value="Borrar">
        </fieldset>
    </form>

    <!-- footer -->
    <footer>
        <p>Síguenos en:</p>
        <a href="https://wa.me/5492604063858" class="whatsapp-btn" target="_blank">
            <i class="fab fa-whatsapp"></i> WhatsApp
        </a>
        <a href="https://www.instagram.com/trampaind/?__pwa=1" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
        </a>
        <p>&copy; 2024 Trampa Indumentaria. Todos los derechos reservados.</p>
    </footer>
    
</body>
</html>